body {
  font-size: .9rem;
  background-color: #282c34;
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
}
body, input, textarea, button {
  font-family: Roboto, Helvetica, FreeSans, sans-serif;
  line-height: 1.6;
  color: inherit;
  margin: 0;
}
input, textarea, button {
  border-radius: .25rem;
  display: inline-block;
  text-align: center;
  resize: vertical;
  color: #000000;
}
button, select {
  text-transform: none;
}
input {
  color: #495057;
  border: 1px solid #ccc;
}
button {
  position: relative;
  background-color: #3b5998;
  border: 1px solid #274687;
  overflow: hidden;
  resize: none;
}
button:after {
  content: "";
  background: #dfe3ee;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
button:disabled,
button[disabled]{
  background-color: #8e8f91;
}
h1 {
  margin: 0;
  font-size: 1.25rem;
}
hr {
  margin-bottom: 1rem;
}
button, h1, hr {
  color: #fff;
}
.App {
  position: relative;
  display: block;
  background: url(/images/bg-container.png) no-repeat center center;
  background-size: cover;
  overflow: hidden;
  width: 900px;
  height: 370px;
  margin: auto;
  border-radius: .5rem;
}
.App-container, .App-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.App-container {
  height: 100%;
}
.App-inner {
  display: block;
  width: 70%;
}
.App-inner-block {
  background-color: rgba(0, 0, 0, 0.50);
  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: .4rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
}
.App-form {
  display: flex;
  width: 100%;
}
.App-inner-block:not(:last-child), .App-form:not(:last-child) {
  margin-bottom: 1rem;
}
.form-control {
  width: 80%;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:not(:last-child) {
  margin-right: .5rem;
}
.form-control.is-invalid {
  outline-color: #dc3545;
  border-color: #dc3545;
}
button.form-control {
  width: 20%;
}
