* {
    box-sizing: border-box;
  }
  html, body {
    padding: 0;
    margin: 0;
    outline: none;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: #282c34;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  #root {
    margin-top: 5%;
  }
  